#center {
    width: 500px;
    height: 250px;
    margin: 50px;
    outline: solid 1px black;
}

#heading {
    color: blue;
    text-align: center;
}

#numCounter {
    text-align: center;
}

#buttonRow{
    text-align: center;
}

#subtractButton{
    background-color: red;
    outline: red;
}

#addButton{
    background-color: green;
    outline: green;
}